{% load static %}
<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet"/>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
<link href="{% static 'doqs/assets/css/apple/app.min.css' %}" rel="stylesheet"/>
<!-- ================== END BASE CSS STYLE ================== -->

<!-- ================== BEGIN PAGE LEVEL CSS STYLE ================== -->
<link href="{% static 'doqs/assets/plugins/bootstrap-calendar/css/bootstrap_calendar.css' %}" rel="stylesheet"/>
<link href="{% static 'doqs/assets/plugins/gritter/css/jquery.gritter.css' %}" rel="stylesheet"/>
<link href="{% static 'doqs/assets/plugins/nvd3/build/nv.d3.css' %}" rel="stylesheet"/>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Kanit&display=swap" rel="stylesheet">
<link href="{% static 'doqs/assets/plugins/ion-rangeslider/css/ion.rangeSlider.min.css' %}" rel="stylesheet"/>
<link href="{% static 'doqs/assets/plugins/bootstrap-colorpicker/dist/css/bootstrap-colorpicker.min.css' %}"
      rel="stylesheet"/>
<link href="{% static 'doqs/assets/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css' %}" rel="stylesheet"/>
<link href="{% static 'doqs/assets/plugins/@danielfarrell/bootstrap-combobox/css/bootstrap-combobox.css' %}"
      rel="stylesheet"/>
<link href="{% static 'doqs/assets/plugins/bootstrap-select/dist/css/bootstrap-select.min.css' %}" rel="stylesheet"/>
<link href="{% static 'doqs/assets/plugins/tag-it/css/jquery.tagit.css' %}" rel="stylesheet"/>
<link href="{% static 'doqs/assets/plugins/bootstrap-daterangepicker/daterangepicker.css' %}" rel="stylesheet"/>
<link href="{% static 'doqs/assets/plugins/select2/dist/css/select2.min.css' %}" rel="stylesheet"/>
<link href="{% static 'doqs/assets/plugins/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}" rel="stylesheet"/>
<link href="{% static 'doqs/assets/plugins/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css' %}"
      rel="stylesheet"/>
<link href="{% static 'doqs/assets/plugins/bootstrap-datepicker/dist/css/bootstrap-datepicker.css' %}" rel="stylesheet"/>
<link href="{% static 'doqs/assets/plugins/bootstrap-datepicker/dist/css/bootstrap-datepicker3.css' %}" rel="stylesheet"/>
<link href="{% static 'doqs/assets/plugins/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css' %}"
      rel="stylesheet"/>
<link href="{% static 'assets/plugins/bootstrap-colorpalette/css/bootstrap-colorpalette.css' %}" rel="stylesheet"/>
<link href="{% static 'assets/plugins/jquery-simplecolorpicker/jquery.simplecolorpicker.css' %}" rel="stylesheet"/>
<link href="{% static 'assets/plugins/jquery-simplecolorpicker/jquery.simplecolorpicker-fontawesome.css' %}"
      rel="stylesheet"/>
<link href="{% static 'assets/plugins/jquery-simplecolorpicker/jquery.simplecolorpicker-glyphicons.css' %}"
      rel="stylesheet"/>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


<style>
    body {
        font-family: 'Kanit', sans-serif;
    }

    input::-webkit-input-placeholder {
        font-size: 14px;
    }

    .modalcenter {
        top: 20%;
    }
</style>
