{% extends 'masterbooking.html' %}
{% block show %}
           <div id="page-loader" class="fade show">
    <span class="spinner"></span>
</div>
<!-- end #page-loader -->

<!-- begin #page-container -->
<div id="page-container" class="fade page-sidebar-fixed page-header-fixed">
    <!-- begin #header -->
    <div id="header" class="header navbar-default">
        <!-- begin navbar-header -->
        <div class="navbar-header">
            {% if request.session.permission == 1 %}
                <a href="{% url 'dashboard' %}" class="navbar-brand">
                <span class="navbar-logo"></span>
                Doo-Q
                เจ้าหน้าที่ {{ request.session.name }}
            {% else %}
                <a href="{% url 'calendar' %}" class="navbar-brand">
                <span class="navbar-logo"></span>
                Doo-Q
                ผู้ป่วย : {{ request.session.name }}
            {% endif %}</a>
            <button type="button" class="navbar-toggle" data-click="sidebar-toggled">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
            <span style="width: 100%;  position: relative;font-size: 18px;left: 35%;padding-top: 0.5%;">หน้าแผนรับคนไข้</span>
        <!-- end navbar-header --><!-- begin header-nav -->
        <ul class="navbar-nav navbar-right">
            <li class="dropdown navbar-user">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                 {% if hospitalname %}
                            <span class="d-none d-md-inline"
                                  style="font-size: 18px">{{ hospitalname }} - {{ DPM }} </span>
                        {% endif %}
                    {% if request.session.permission == 1 %}
                        {% for datahospitals in datahospital %}
                            {% if dataST.Hid == datahospitals.Hid %}
                                <span class="d-none d-md-inline" style="font-size: 18px">{{ datahospitals.Hname }} -
                                    {% for dataDPMs in dataDPM %}
                                        {% if  dataDPMs.Did == Dids %}
                                            {{ dataDPMs.Dname }}
                                        {% endif %}
                                    {% endfor %}</span>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                    {% endif %}
                    {% if request.session.hn %}
                        <span class="d-none d-md-inline"
                              style="font-size: 18px">กำลังใช้บริการ - {{ request.session.hospital }} </span>
                    {% endif %}
                </a>
            </li>
        </ul>
        <!-- end header navigation right -->
    </div>
    <!-- end #header -->

    <!-- begin #sidebar -->
    <div id="sidebar" class="sidebar">
        <!-- begin sidebar scrollbar -->
        <div data-scrollbar="true" data-height="100%">
            <!-- begin sidebar user -->
            <ul class="nav">
                {% if request.session.permission == 1 %}
                    <li>
                        <a href="{% url 'dashboard' %}">
                            <i class="material-icons">dashboard</i>
                            <span>dashboard</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'callqueue2' %}">
                            <i class="material-icons">calendar_today</i>
                            <span>เรียกคิว</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'vtfbooking' %}">
                            <i class="material-icons">calendar_today</i>
                            <span>รับคิว</span>
                        </a>
                    </li>
                    <li class="has-sub active">
                        <a href="{% url 'staff' %}" style="background-color: mediumseagreen">
                            <i class="material-icons">local_hospital</i>
                            <span style="text-align: left">แผนก/กลุ่มงาน</span>
                        </a>
                        <ul class="sub-menu">
                            <li class="has-sub">
                                <a href="{% url 'sthos' %}">
                                    <b class="caret"></b>
                                    <span style="text-align: left">แพทย์/เจ้าหน้าที่(ตามสังกัด)</span>
                                </a>
                            </li>
                        </ul>
                        <ul class="sub-menu" style="background-color: #4ed287">
                            <li class="has-sub">
                                <a href="{% url 'doctor' %}">
                                    <b class="caret"></b>
                                    <span style="text-align: left;color: white">แผนรับคนไข้</span>
                                </a>
                            </li>
                        </ul>
                     <ul class="sub-menu" >
                            <li class="has-sub">
                                <a href="{% url 'tagdpm' %}">
                                    <b class="caret"></b>
                                    <span style="text-align: left;">เพิ่มแท็กกิจกรรม</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="{% url 'mnbook' %}">
                            <i class="material-icons">date_range</i>
                            <span>กำหนดช่วงเวลา</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'staffinfo' %}">
                            <i class="material-icons">supervised_user_circle</i>
                            <span>ข้อมูลส่วนตัว</span>
                        </a>
                    </li>
                {% else %}
                    <li>
                        <a href="{% url 'calendar' %}">
                            <i class="material-icons">calendar_today</i>
                            <span>จองคิว</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'person' %}">
                            <i class="material-icons">calendar_today</i>
                            <span>HN</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'personinfo' %}">
                            <i class="material-icons">supervised_user_circle</i>
                            <span>ข้อมูลส่วนตัว</span>
                        </a>
                    </li>
                {% endif %}
                <li>
                    <a href="{% url 'dessession' %}" class="btn btn-default">
                        <i class="material-icons">logout</i>
                        <span style="color: black;">ออกจากระบบ</span>
                    </a>
                </li>
            </ul>
            <!-- end sidebar nav -->
        </div>
        <!-- end sidebar scrollbar -->
    </div>
    <div class="sidebar-bg"></div>
    <div class="content" style="font-size: 18px;">
        <form class="form-horizontal form-bordered" action="{% url 'doctorcheck' %}" method="post">
            {% csrf_token %}
            <div class="col-xl-12">
                <div class="row">
                    <div class="col-xl-3 mb-2 mb-sm-0">
                        <input type="checkbox" class="checkbox-multiselect-date" id="checkboxdatedoctor" hidden>
                    </div>
                    <div class="col-xl-3 mb-2 mb-sm-0">
                    </div>
                    <div class="col-xl-6 float-right">
                            <span class="pull-right"
                                  style="color: black">จำนวนผู้ป่วยที่แพทย์/เจ้าหน้าที่รับ  <span id="number"></span></span>
                        <br>
                        <span class="pull-right"
                              style="color: black">จำนวนผู้ป่วยที่แผนกรับ <span id="dpm"></span></span>
                    </div>
                </div>
            </div>
        </form>
        <div class="col-xl-4">
            <input type="hidden" name="OFid"
                   class="form-control"
                   value="{{ OFid }}">
        </div>
        <div class="col-xl-12">
            <!-- begin panel -->
            <div class="panel panel-inverse panel-with-tabs" data-sortable-id="ui-unlimited-tabs-1">
                <!-- begin panel-heading -->
                <div class="panel-heading p-0">
                    <!-- begin nav-tabs -->
                    <div class="tab-overflow">
                        <ul class="nav nav-tabs nav-tabs-inverse">
                            <li class="nav-item"><a href="#nav-tab-1" data-toggle="tab" class="nav-link active">แผนรับคนไข้
                            </a></li>
                        </ul>
                    </div>
                    <!-- end nav-tabs -->
                    <div class="panel-heading-btn mr-2 ml-2 d-flex">
                    </div>
                </div>
                <!-- end panel-heading -->
                <!-- begin tab-content -->
                <div class="panel-body tab-content ">
                    <!-- begin tab-pane -->
                    <div class="tab-pane fade active show" id="nav-tab-1">
                        <div class="panel panel-inverse" style="background: white">
                            <!-- begin panel-heading -->
                            <div class="row col-lg-12"
                                 style="margin: auto;text-align: center;height: auto;width: auto">
                                <div class="col-xl-6 col-sm-6" style="height: 100%;">
                                    <br>
                                    <div id="calendardoctor" class="calendar scollshow inner-border  height-lg"
                                         style="height: 350px;width: 100%">
                                    </div>
                                </div>
                                <form class="form-horizontal form-bordered"
                                      action="{% url 'testsubmit' %}" method="post" id="testsubmit">
                                    {% csrf_token %}
                                    <input value="" id="testday" type="hidden" name="datecalendar">
                                    <input value="{{ personid }}" type="hidden" name="personid">
                                </form>

                                <div class="col-xl-6 col-sm-6">
                                    <br>
                                    <div class="scollshow inner-border" style="height: 600px;width: auto">
                                        <div class="card card-forum mb-3">
                                            <!-- begin card-header -->
                                            <div class="card-header" style="height: 80px">
                                                <div class="col-xl-12">
                                                    {% if  check == null %}
                                                        <div class="col-xl-12">
                                                            <form class="form-horizontal form-bordered"
                                                                  action="{% url 'doctorcheck' %}" method="post">
                                                                {% csrf_token %}
                                                                <input type="hidden" name="datecalendar"
                                                                       value="{{ d1 }}">
                                                                <select class="form-control form-control-lg mb-3"
                                                                        name="OFid"
                                                                        onchange='this.form.submit()'>
                                                                    {% for dataPersons in dataPerson %}
                                                                        {% for dataOFFalls in dataOFFall %}
                                                                            {% if dataPersons.Pid == dataOFFalls.Pid %}
                                                                                {% if  dataPersons.Pid == personid %}
                                                                                    <option value="{{ dataPersons.Pid }}"
                                                                                            selected>{{ dataPersons.Pname }}</option>
                                                                                {% endif %}
                                                                                {% if dataPersons.Ppassword == 'Nopassword'  and dataPersons.Pid != personid %}
                                                                                    <option value="{{ dataPersons.Pid }}">{{ dataPersons.Pname }}</option>
                                                                                {% endif %}
                                                                            {% endif %}
                                                                        {% endfor %}
                                                                    {% endfor %}
                                                                </select>
                                                            </form>
                                                        </div>
                                                    {% else %}
                                                        <div class="col-xl-12">
                                                            <form class="form-horizontal form-bordered"
                                                                  action="{% url 'doctorcheck' %}" method="post">
                                                                {% csrf_token %}
                                                                <input type="hidden" name="datecalendar"
                                                                       value="{{ d1 }}">
                                                                <select class="form-control form-control-lg mb-3"
                                                                        name="OFid"
                                                                        onchange='this.form.submit()'>
                                                                    {% for dataPersons in dataPerson %}
                                                                        {% for dataOFFalls in dataOFFall %}
                                                                            {% if dataPersons.Pid == dataOFFalls.Pid %}
                                                                                {% if  dataPersons.Pid == personid %}
                                                                                    <option value="{{ dataPersons.Pid }}"
                                                                                            selected>{{ dataPersons.Pname }}</option>
                                                                                {% endif %}
                                                                                {% if dataPersons.Ppassword == 'Nopassword'  and dataPersons.Pid != personid %}
                                                                                    <option value="{{ dataPersons.Pid }}">{{ dataPersons.Pname }}</option>
                                                                                {% endif %}
                                                                                {% if dataPersons.Pid == request.session.user_id   and dataPersons.Pid != personid %}
                                                                                    <option value="{{ dataPersons.Pid }}">{{ dataPersons.Pname }}</option>
                                                                                {% endif %}
                                                                            {% endif %}
                                                                        {% endfor %}
                                                                    {% endfor %}
                                                                </select>
                                                            </form>
                                                        </div>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-12 " style="width: 100%;height: 350px">
                                            <form class="form-horizontal form-bordered"
                                                  action="{% url 'addcount' %}" method="post" id="doctor">
                                                {% csrf_token %}
                                                <table width="100%" class="table test-list ">
                                                    <thead style="font-size: 18px">
                                                    <tr>
                                                        <th colspan="3" style="text-align: center">  <span id="testtext"><span>{{ D }} {{ M }} {{ Year }}</span></span></th>
                                                    </tr>
                                                    <tr class="odd gradeX">
                                                        <th class="text-nowrap" style="text-align: center;">เวลา</th>
                                                        <th class="text-nowrap" style="text-align: center;">จำนวนที่รับ
                                                        </th>
                                                        <th class="text-nowrap">
                                                <span> <input type="checkbox" class="check1" id="select-alltimehos">
                                                    &nbsp;Dayoff</span>
                                                        </th>
                                                    </tr>
                                                    </thead>
                                                    <tbody style="font-size: 18px;" id="myTable3">
                                                    <input value="{{ OFid }}" type="hidden" name="OFid">
                                                    <input type="hidden" name="OFid" value="{{ OFid }}">
                                                    <input type="hidden"
                                                           class="input-hidden-memory-date"
                                                           name="datetest" value="{{ d1 }}">

                                                    <br>

                                                    </tbody>
                                                </table>
                                                <div class="float-right">
                                                    <button type="submit" class="btn btn-primary width-80" id="btnsub">
                                                        บันทึก
                                                    </button>
                                            </form>
                                        </div>
                                        <form class="form-horizontal form-bordered"
                                              action="{% url 'resetcount' %}" method="post">
                                            {% csrf_token %}
                                            <input type="hidden" name="OFid" value="{{ OFid }}">
                                            <input type="hidden"
                                                   class="input-hidden-memory-date"
                                                   name="datetest" value="{{ d1 }}">
                                            <div class="float-right">
                                                &nbsp;
                                                <button type="submit" class="btn btn-danger width-80" id="btnsub2">ลบ
                                                </button>
                                                &nbsp;
                                            </div>
                                        </form>
                                        <div class="float-right">
                                            &nbsp;
                                             <a href="#modal-dialog" class="btn btn-warning  width-80 "
                                       data-toggle="modal">ทำซ้ำ</a>
                                            <input type="button" onclick="resetxxy()"
                                                                   class="btn btn-success width-80"
                                                                   value="reset">

                                        </div>
                                        <!-- end info-container -->
                                    </div>

                                    <!-- end forum-list -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end tab-pane -->
                    <!-- begin tab-pane -->
                    <!-- end tab-pane -->
                </div>
                <!-- end tab-content -->
            </div>
        </div>
         <div class="modal fade" id="modal-dialog">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <div style="text-align: center">ทำซ้ำวันที่ <span
                                                id="daycustom"><span>{{ D }} {{ M }} {{ Year }}</span></span></div>
                                    </div>
                                    <form class="form-horizontal form-bordered"
                                          action="{% url 'replazecount' %}"
                                          method="post" >
                                        {% csrf_token %}
                                        <div class="modal-body">
                                            <div class="col-lg-12" style="text-align: left">
                                                <div class="form-group row" style="text-align: left">
                                                    <label class="col-lg-4 col-form-label">วัน</label>
                                                    <input type="hidden" name="datecustome" id="datechss" value="{{ d1 }}">
                                                    <input type="hidden" name="OFidx"  value="{{ OFid }}">
                                                    <div class="col-lg-8">
                                                        <div class="" style="display: inline-block"><input name="date1"
                                                                                                           value="Mon"
                                                                                                           type="checkbox">
                                                            จันทร์
                                                        </div>
                                                        <div class="" style="display: inline-block"><input name="date2"
                                                                                                           value="Tue"
                                                                                                           type="checkbox">
                                                            อังคาร
                                                        </div>
                                                        <div class="" style="display: inline-block"><input name="date3"
                                                                                                           value="Wed"
                                                                                                           type="checkbox">
                                                            พุธ
                                                        </div>
                                                        <div class="" style="display: inline-block"><input name="date4"
                                                                                                           value="Thu"
                                                                                                           type="checkbox">
                                                            พฤหัส
                                                        </div>
                                                        <div class="" style="display: inline-block"><input name="date5"
                                                                                                           value="Fri"
                                                                                                           type="checkbox">
                                                            ศุกร์
                                                        </div>
                                                        <div class="" style="display: inline-block"><input name="date6"
                                                                                                           value="Sat"
                                                                                                           type="checkbox">
                                                            เสาร์
                                                        </div>
                                                        <div class="" style="display: inline-block"><input name="date7"
                                                                                                           value="Sun"
                                                                                                           type="checkbox">
                                                            อาทิตย์
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-lg-4 col-form-label">วันเริ่มต้น</label>
                                                    <div class="col-lg-8">
                                                        <div class="input-group date">
                                                            <input type="date" name="start" class="form-control"/>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-lg-4 col-form-label">วันสิ้นสุด</label>
                                                    <div class="col-lg-8">
                                                        <div class="input-group date">
                                                            <input type="date" name="end" class="form-control"/>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <a href="javascript:;" class="btn btn-danger" data-dismiss="modal">Close</a>
                                            <button class="btn btn-primary" type="submit">บันทึก</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
        {% csrf_token %}
    </div>
    </div>
    <script>
         function resetxxy() {
        document.getElementById("doctor").reset();
    }
        dateList = "{{ d1 }}";
        var OFid = {{ OFid }};
        $.ajax({
            url: "{% url 'testses' %}",
            type: 'POST',
            data: {
                'dateList': dateList,
                'OFid': OFid,
                'csrfmiddlewaretoken': $("[name=csrfmiddlewaretoken]").val()
            },
            success: function (data) {
                document.getElementById('dpm').innerHTML = data.numberDPMtoday;
                document.getElementById('number').innerHTML = data.numbertoday;
                if (data.holds.length > 0 || data.actions.length > 0) {
                    jQuery.each(data.holds, function (index, item) {
                            if (index == 0) {
                                $('.tr-append-add').remove();
                            }

                        }
                    );
                } else {
                    $('input[name="timestart"]').val('');
                    $('input[name="timeend"]').val('');
                    $('.tr-append-add').remove();
                }
                    if (data.d) {
                        for ([key, val] of Object.entries(data.d)) {
                            if (val != null) {
                                if (val == 1) {
                                    $('#myTable3').append('<tr class="tr-append-add"> ' +
                                        '<td  style="width: 300px;">' +
                                        '<input type="text"   class="form-control" value="' + key + '" disabled>' +
                                        '<input type="hidden"  name="time' + key + '" class="form-control testsss" value="' + key + '" >' +
                                        '</td>' +
                                        '<td style="width: 285px;">' +
                                        '<input type="number"    name="count' + key + '" class="form-control testsss" disabled>' +
                                        '</td>' +
                                        '<td style="text-align: left;width: 20px">' +
                                        '<input type="checkbox" name="check' + key + '"  class="check1 testsss" value="1" checked disabled>' +
                                        '</td>' +
                                        '</tr>')
                                }
                                if (val > 1) {
                                    $('#myTable3').append('<tr class="tr-append-add"> ' +
                                        '<td  style="width: 300px;">' +
                                        '<input type="text"   class="form-control" value="' + key + '" disabled>' +
                                        '<input type="hidden"  name="time' + key + '" class="form-control testsss" value="' + key + '" >' +
                                        '</td>' +
                                        '<td style="width: 285px;">' +
                                        '<input type="number"   name="count' + key + '"  value="' + val + '" class="form-control testsss" >' +
                                        '</td>' +
                                        '<td style="text-align: left;width: 20px">' +
                                        '<input type="checkbox"  name="check' + key + '" class="check1 testsss" value="1"  disabled>' +
                                        '</td>' +
                                        '</tr>')
                                }
                                if (val == 0) {
                                    $('#myTable3').append('<tr class="tr-append-add"> ' +
                                        '<td  style="width: 300px;">' +
                                        '<input type="text"   class="form-control" value="' + key + '" disabled>' +
                                        '<input type="hidden"  name="time' + key + '" class="form-control testsss" value="' + key + '" >' +
                                        '</td>' +
                                        '<td style="width: 285px;">' +
                                        '<input type="number"  name="count' + key + '" class="form-control testsss" >' +
                                        '</td>' +
                                        '<td style="text-align: left;width: 20px">' +
                                        '<input type="checkbox"  name="check' + key + '" name="check' + key + '" class="check1 testsss" value="1" >' +
                                        '</td>' +
                                        '</tr>')
                                }
                            }
                        }
                    }else {
                     $('#myTable3').append('<tr class="tr-append-add"> ' +
                                        '<td colspan="3" style="text-align: center;">ไม่มีข้อมูล' +
                                        '</td>' +
                                        '</tr>')
                }
                $('.input-hidden-memory-date').val(dateList);
                $('.fc-day[data-date=' + dateList + ']').css('background-color', '#158900');
            },
        })


        function toThaiDateString(date) {
            let monthNames = [
                "มกราคม", "กุมภาพันธ์", "มีนาคม", "เมษายน",
                "พฤษภาคม", "มิถุนายน", "กรกฎาคม", "สิงหาคม.",
                "กันยายน", "ตุลาคม", "พฤศจิกายน", "ธันวาคม"
            ];

            let year = date.getFullYear() + 543;
            let month = monthNames[date.getMonth()];
            let numOfDay = date.getDate();

            let hour = date.getHours().toString().padStart(2, "0");
            let minutes = date.getMinutes().toString().padStart(2, "0");
            let second = date.getSeconds().toString().padStart(2, "0");

            return `${numOfDay} ${month} ${year} `;
        }

        $(document).ready(function () {
            var calendar = $('#calendardoctor').fullCalendar({
                eventClick: function (info) {
                    alert('Event: ' + info.event.title);
                    alert('Coordinates: ' + info.jsEvent.pageX + ',' + info.jsEvent.pageY);
                    alert('View: ' + info.view.type);

                    // change the border color just for fun
                    info.el.style.borderColor = 'red';
                },
                dayClick: function (date, jsEvent, view) {
                    var z = new Date().toISOString().split('T')[0];
                    if (date.format() >= z) {
                        var dateList = '';
                        if ($('input.checkbox-multiselect-date').is(':checked')) {
                            var memDateList = $('.input-hidden-memory-date').val();
                            memDateList = (memDateList.length > 0) ? memDateList + ',' : '';
                            dateList = memDateList + date.format();
                        } else {
                            $(this).parents().parents().parents().parents().parents().parents().find('td').css('background-color', '');
                            dateList = date.format();
                            var d = new Date(date.format());
                            document.getElementById('testtext').innerHTML = toThaiDateString(d);
                            document.getElementById('daycustom').innerHTML = toThaiDateString(d);
                               document.getElementById('datechss').value = date.format();
                            var OFid = {{ OFid }};
                            $.ajax({
                                url: "{% url 'testses' %}",
                                type: 'POST',
                                data: {
                                    'dateList': dateList,
                                    'OFid': OFid,
                                    'csrfmiddlewaretoken': $("[name=csrfmiddlewaretoken]").val()
                                },
                                success: function (data) {
                                    document.getElementById('dpm').innerHTML = data.numberDPMtoday;
                                    document.getElementById('number').innerHTML = data.numbertoday;
                                    if (data.holds.length > 0 || data.actions.length > 0) {
                                        jQuery.each(data.holds, function (index, item) {
                                                if (index == 0) {
                                                    $('.tr-append-add').remove();
                                                }
                                                {#if (date.format() != item[3]) {#}
                                                {#    $(view.el[0]).find('.fc-day[data-date=' + item[3] + ']').css('background-color', '#22C705');#}
                                                {#}#}
                                            }
                                        );
                                    } else {
                                        $('input[name="timestart"]').val('');
                                        $('input[name="timeend"]').val('');
                                        $('.tr-append-add').remove();
                                    }
                                                   if (data.d) {
                            for ([key, val] of Object.entries(data.d)) {
                                if (val != null) {
                                    if (val == 1) {
                                        $('#myTable3').append('<tr class="tr-append-add"> ' +
                                            '<td  style="width: 300px;">' +
                                            '<input type="text"   class="form-control" value="' + key + '" disabled>' +
                                            '<input type="hidden"  name="time' + key + '" class="form-control testsss" value="' + key + '" >' +
                                            '</td>' +
                                            '<td style="width: 285px;">' +
                                            '<input type="number"    name="count' + key + '" class="form-control testsss" disabled>' +
                                            '</td>' +
                                            '<td style="text-align: left;width: 20px">' +
                                            '<input type="checkbox" name="check' + key + '"  class="check1 testsss" value="1" checked disabled>' +
                                            '</td>' +
                                            '</tr>')
                                    }
                                    if (val > 1) {
                                        $('#myTable3').append('<tr class="tr-append-add"> ' +
                                            '<td  style="width: 300px;">' +
                                            '<input type="text"   class="form-control" value="' + key + '" disabled>' +
                                            '<input type="hidden"  name="time' + key + '" class="form-control testsss" value="' + key + '" >' +
                                            '</td>' +
                                            '<td style="width: 285px;">' +
                                            '<input type="number"   name="count' + key + '"  value="' + val + '" class="form-control testsss" >' +
                                            '</td>' +
                                            '<td style="text-align: left;width: 20px">' +
                                            '<input type="checkbox"  name="check' + key + '" class="check1 testsss" value="1"  disabled>' +
                                            '</td>' +
                                            '</tr>')
                                    }
                                    if (val == 0) {
                                        $('#myTable3').append('<tr class="tr-append-add"> ' +
                                            '<td  style="width: 300px;">' +
                                            '<input type="text"   class="form-control" value="' + key + '" disabled>' +
                                            '<input type="hidden"  name="time' + key + '" class="form-control testsss" value="' + key + '" >' +
                                            '</td>' +
                                            '<td style="width: 285px;">' +
                                            '<input type="number"  name="count' + key + '" class="form-control testsss" >' +
                                            '</td>' +
                                            '<td style="text-align: left;width: 20px">' +
                                            '<input type="checkbox"  name="check' + key + '" name="check' + key + '" class="check1 testsss" value="1" >' +
                                            '</td>' +
                                            '</tr>')
                                    }
                                }
                            }
                    }else {
                         $('#myTable3').append('<tr class="tr-append-add"> ' +
                                            '<td colspan="3" style="text-align: center;">ไม่มีข้อมูล' +
                                            '</td>' +
                                            '</tr>')
                    }
                                },
                            })
                            //show time
                            var test_list_ids = JSON.stringify(test_list_ids);
                        }

                        $('.input-hidden-memory-date').val(dateList);
                        $(this).css('background-color', '#158900');


                        {#dayclick.push(date.format());#}
                        {#var test_list_ids = JSON.stringify(dayclick);#}
                        {#document.getElementById("testday").setAttribute("value", test_list_ids);#}
                    }
                },
                eventRender: function (event, element) {
                    if (event.icon == null) {
                        event.icon = '';
                    }
                    element.find('.fc-title').append(" " + event.icon);
                    element.find('.fc-list-item-title').append(" " + event.icon);
                },
                displayEventTime: false,
                eventLimit: true,
                draggable: false,
                defaultView: 'month',
                locale: 'th',
                firstDay: 0,
                header: {
                    left: 'month',
                    center: 'title',
                    right: 'prev,next',
                },
                events: [
                    {% for dayll in dayll %}
                        {% if dayll.1 == 0 %}
                            {
                                title: 'dayoff',
                                start: '{{ dayll.0 }}',
                                end: '{{ dayll.0}}',
                                color: 'red',
                            },
                        {% else %}
                            {
                                title: '{{dayll.2}}/{{dayll.1}}',
                                start: '{{ dayll.0 }}',
                                end: '{{ dayll.0}}',
                                color: '{{ dayll.3 }}',
                            },
                        {% endif %}
                    {% endfor %}
                    {% for hospitimess in hospitimess %}
                        {
                            title: 'ลงเวลา',
                            start: '{{ hospitimess.0}}',
                            end: '{{ hospitimess.0}}',
                        },{% endfor %}
                ]
            });
        });
        document.getElementById('select-alltimehos').onclick = function () {
            var checkboxes = document.querySelectorAll('input[class="check1"]');
            for (var checkbox of checkboxes) {
                checkbox.checked = this.checked;
            }
        }
        document.onkeydown = function (evt) {
            evt = evt || window.event;

            if (evt.keyCode != 16) {
                document.getElementById("checkboxdatedoctor").checked = false;
            }
            if (evt.keyCode == 16) {
                document.getElementById("checkboxdatedoctor").checked = true;
            }
        };
        $(document).ready(function () {

            $("body").keydown(function () {

                document.getElementById("checkboxdatedoctor").checked = true;
            });
            $("body").keyup(function () {
                document.getElementById("checkboxdatedoctor").checked = false;
            });
        });

    </script>
{% endblock %}
