{% extends 'masterweb.html' %}
{% block show %}
    <div class="content" id="content" style="font-size: 18px;">
        <div class="panel panel-inverse" data-sortable-id="form-plugins-12">
            <!-- begin panel-heading -->
            <div class="panel-heading">
                <h4 class="panel-title"></h4>
                <div class="panel-heading-btn">
                </div>
            </div>
            <!-- end panel-heading -->
            <!-- begin panel-body -->
            <div class="panel-body panel-form">
                <form class="form-horizontal form-bordered"
                      action="{% url 'settingtime' %}"
                      method="post">
                    {% csrf_token %}
                    <div class="form-group row">
                        <label class="col-lg-4 col-form-label">เวลา</label>
                        <div class="col-lg-8">
                            <input class="form-control" value="{{ dataPerson.Pid }}" disabled>
                        </div>
                    </div>

                </form>
            </div>
            <!-- end panel-body -->
        </div>
    </div>
{% endblock %}
