{% extends 'masterbooking.html' %}
{% block show %}
{% load static %}
<div class="content" id="content" style="font-size: 18px;">
            <div class="alert alert-danger fade show">
                <span class="close" data-dismiss="alert">×</span>
                <p style="font-size: 60px;">กรุณาติดต่อผู้ดูแลระบบเพื่อขอรับสิทธิเป็นเจ้าหน้าที่</p>
                <p style="font-size: 60px;"><img style="width: 20%;height:150px;"
                                                       src="{% static 'doqs/assets/img/logo/M.png' %}">
                        <a href="https://lin.ee/FuQVSC9">lin.ee/FuQVSC9</a> &nbsp;</p>
                <p style="font-size: 60px;">   <a href="https://www.facebook.com/doo-Q-106281328287391">https://www.facebook.com/doo-Q</a></p>
                <p style="font-size: 60px;"><a href="mailto:DooQService@gmail.com">DooQService@gmail.com &nbsp;</a></p>
                <p style="font-size: 60px;"><a href="mailto:DooQService@gmail.com">0962187836&nbsp;</a></p>
            </div>
    </div>
{% endblock %}

